page-stats-details {


  /*.scroll-content {
      background-color: map-get($colors, light);
  }

  ion-card-header {
      font-weight: bold;
  }*/




  canvas {
    border: 1px solid red;
  }

  .chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
  }
}
