<ion-header>
  <ion-navbar  color="primary">
    <ion-title>{{serverName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editServer($event, server)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-segment [(ngModel)]="chartType" color="primary" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="process">
        Heap Mem
      </ion-segment-button>
      <ion-segment-button value="os">
        OS Mem
      </ion-segment-button>
      <ion-segment-button value="cpu">
        CPU
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


<!-- ERROR MSG -->
<div class="_gray" *ngIf="errorMsg" style="margin:20px 20px 20px 20px;">
    <div class="_red">{{errorMsg}}</div>
    <p>Check the URL, both domain and port. Check that the server called
    has the proper endpoint declared for the Noditor module.</p>
    <p>Example (Restify):
      <br/>

      <span style="font-family:courier;">server.get('/noditor/:path/:passcode/:command', noditor.commands);</span>
    </p>
</div>


<!-- CHART -->
<div *ngIf="!errorMsg && server.data.stats" style="height:80%">
        <div class="chart-container" style="height:80%">
            <canvas id="canvas" #barCanvas></canvas>
        </div>

        <!-- data -->
        <br/>

        <ion-list *ngIf="server.data && server.data.stats">
          <div class="_center _primary">
            Peaks
          </div>
            <ion-item class="_gray">Heap Used: <b>{{server.data.peaks.peakHeapUsed}} Mb</b>
              <div style="font-size:80%">{{server.data.peaks.peakHeapUsedDttm}}</div>
            </ion-item>
            <ion-item class="_gray">Heap Total: <b>{{server.data.peaks.peakHeapTotal}} Mb</b>
              <div style="font-size:80%">{{server.data.peaks.peakHeapTotalDttm}}</div>
            </ion-item>

        </ion-list>
</div>


</ion-content>
